@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');

:root {
  --bg1: #4a025c;    
  --bg2: #3a0049;   
  --teal: #4AFFBC; 
  --text-main: #ffffff;
  --text-muted: #d4e4e4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: var(--text-main);
  background: var(--bg1);
}

header {
  width: 100%;
  padding: 20px 30px;
  background: #2d0038;
  backdrop-filter: blur(6px);
  position: sticky;
  top: 0;
}

.nav-links {
  display: flex;
  gap: 25px;
  list-style: none;
  margin-left: auto;
}

.nav-links a {
  color: #d4e4e4;
  font-weight: 600;
  text-decoration: none;
  font-size: 18px;
  transition: 0.2s;
}

.nav-links a:hover {
  color: #4AFFBC;
  transform: scale(1.05);
}


.navbar-mobile {
  display: flex;
  align-items: center;
}

.logo {
  height: 50px;
  border-radius: 8px;
}

#menu {
  padding: 80px 20px;
  display: flex;
  justify-content: center;
  text-align: center;
}

#menu h1 {
  font-size: 60px;
  font-weight: 800;
  color: var(--teal);
  text-shadow: none;
}

#menu p {
  margin-top: 12px;
  font-size: 20px;
  color: var(--text-muted);
}

#Funcionalidades {
  background: var(--bg2);
  padding: 60px 20px;
}

.titlepk {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 25px;
  color: var(--teal);
  text-align: center;
}

.maker-container {
  max-width: 900px;
  margin: auto;
  background: #4a025c;
  padding: 25px 30px;
  border-radius: 16px;
  line-height: 1.6;
}

.maker-container p {
  font-size: 18px;
  color: var(--text-muted);
}

@media (max-width: 600px) {
  #menu h1 {
    font-size: 42px;
  }
  #menu p {
    font-size: 18px;
  }
  .titlepk {
    font-size: 30px;
  }
  .logo {
    height: 42px;
  }
}

#equipe {
  padding: 80px 20px;
  background: #2d0038;
}

.title-equipe {
  text-align: center;
  font-size: 48px;
  font-weight: 800;
  color: #4AFFBC;
  margin-bottom: 40px;
}

.equipe-container {
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  overflow: visible; 
  padding-bottom: 20px;
}


.equipe-container::-webkit-scrollbar {
  height: 10px;
}

.equipe-container::-webkit-scrollbar-track {
  background: #222;
  border-radius: 10px;
}

.equipe-container::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}

.card-membro {
  min-width: 260px;
  background: #4a025c;
  padding: 25px;
  border-radius: 20px;
  text-align: center;
  flex-shrink: 0;
}

.foto-membro {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
}

.card-membro h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 5px;
}

.card-membro p {
  font-size: 16px;
  color: #dcdcdc;
  margin-bottom: 15px;
}

.btn-linkedin {
  display: inline-block;
  background: #2d0038;
  color: #fff;
  padding: 10px 18px;
  border-radius: 10px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.2s;
}

.btn-linkedin:hover {
  background: #333;
}


